footer {
    background: #0B0B0D;
}

.footer_top {
    padding: 35px 0;
}

.footer_bottom {
    padding: 25px 0;
    border-top: 1px solid #646464;
}

footer .footer_header {
    margin-bottom: 20px;
    text-transform: uppercase;
}

footer .footer_list {
    padding: 0;
    margin: 0;
    list-style: none;
}

footer .footer_list a {
    color: #fff;
    display: inline-block;
    padding: 5px 0;
}


@media (max-width: 767px) {
    footer .footer_top {
        text-align: center;
    }

    footer .footer_bottom{
        display: block;
    }
}