@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;900&display=swap');


body {
  font-family: 'Outfit', sans-serif, Inter, Avenir, Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
  background-color: var(--background_color);
  color: #fff;
}


img{
  max-width: 100%;
}

a, a:hover{
  text-decoration: none;
}
